body {
  font-family: 'Phudu', cursive;
  color: var(--main-color);
  background-color: var(--main-bg);
}

.section {
  padding: 100px 0;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.title {
}

.section {
  padding: 100px 0;
  margin: 0;
}